In [2]:
import numpy as np 
#useful for doing some mathematical caluculations
import pandas as pd #reading csv files and operations on dataframe
import seaborn as sns #used for various graphs for EDA (Exploratory data analysis)
import matplotlib.pyplot

In [71]:
from matplotlib import pyplot as plt

In [72]:
print('Numpy_version',np.__version__)
print('Pandas_version',pd.__version__)
print('Seaborn_version',sns.__version__)
print('Matplotlib_version',matplotlib.__version__)

Numpy_version 1.23.5
Pandas_version 1.5.3
Seaborn_version 0.12.2
Matplotlib_version 3.7.0

In [73]:
sns.set()
sns.set_palette(palette='deep') #set the color palette which impact ton how the graph look like

In [74]:
!pip install folium

Requirement already satisfied: folium in /home/nanthini/anaconda3/lib/python3.10/site-packages (0.14.0)
Requirement already satisfied: numpy in /home/nanthini/anaconda3/lib/python3.10/site-packages (from folium) (1.23.5)
Requirement already satisfied: branca>=0.6.0 in /home/nanthini/anaconda3/lib/python3.10/site-packages (from folium) (0.6.0)
Requirement already satisfied: jinja2>=2.9 in /home/nanthini/anaconda3/lib/python3.10/site-packages (from folium) (3.1.2)
Requirement already satisfied: requests in /home/nanthini/anaconda3/lib/python3.10/site-packages (from folium) (2.28.1)
Requirement already satisfied: MarkupSafe>=2.0 in /home/nanthini/anaconda3/lib/python3.10/site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/nanthini/anaconda3/lib/python3.10/site-packages (from requests->folium) (2023.5.7)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/nanthini/anaconda3/lib/python3.10/site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/nanthini/anaconda3/lib/python3.10/site-packages (from requests->folium) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in /home/nanthini/anaconda3/lib/python3.10/site-packages (from requests->folium) (3.4)

In [75]:
import folium #this is useful for displaying interactive map
from folium import plugins

Read the Data

In [3]:
import os
os.chdir('/home/nanthini/Documents/Data Science MBA/Project Work/Capstone Project')
data=pd.read_csv('innercity.csv')
data.head()

,cid,dayhours,price,room_bed,room_bath,living_measure,lot_measure,ceil,coast,sight,...,basement,yr_built,yr_renovated,zipcode,lat,long,living_measure15,lot_measure15,furnished,total_area
0,3876100940,20150427T000000,600000,4.0,1.75,3050.0,9440.0,1,0,0.0,...,1250.0,1966,0,98034,47.7228,-122.183,2020.0,8660.0,0.0,12490
1,3145600250,20150317T000000,190000,2.0,1.00,670.0,3101.0,1,0,0.0,...,0.0,1948,0,98118,47.5546,-122.274,1660.0,4100.0,0.0,3771
2,7129303070,20140820T000000,735000,4.0,2.75,3040.0,2415.0,2,1,4.0,...,0.0,1966,0,98118,47.5188,-122.256,2620.0,2433.0,0.0,5455
3,7338220280,20141010T000000,257000,3.0,2.50,1740.0,3721.0,2,0,0.0,...,0.0,2009,0,98002,47.3363,-122.213,2030.0,3794.0,0.0,5461
4,7950300670,20150218T000000,450000,2.0,1.00,1120.0,4590.0,1,0,0.0,...,0.0,1924,0,98118,47.5663,-122.285,1120.0,5100.0,0.0,5710

In [77]:
#to view all the columns in python code set in pandas to display max columns
pd.options.display.max_columns = None

In [78]:
data.head()

,cid,dayhours,price,room_bed,room_bath,living_measure,lot_measure,ceil,coast,sight,condition,quality,ceil_measure,basement,yr_built,yr_renovated,zipcode,lat,long,living_measure15,lot_measure15,furnished,total_area
0,3876100940,20150427T000000,600000,4.0,1.75,3050.0,9440.0,1,0,0.0,3,8.0,1800.0,1250.0,1966,0,98034,47.7228,-122.183,2020.0,8660.0,0.0,12490
1,3145600250,20150317T000000,190000,2.0,1.00,670.0,3101.0,1,0,0.0,4,6.0,670.0,0.0,1948,0,98118,47.5546,-122.274,1660.0,4100.0,0.0,3771
2,7129303070,20140820T000000,735000,4.0,2.75,3040.0,2415.0,2,1,4.0,3,8.0,3040.0,0.0,1966,0,98118,47.5188,-122.256,2620.0,2433.0,0.0,5455
3,7338220280,20141010T000000,257000,3.0,2.50,1740.0,3721.0,2,0,0.0,3,8.0,1740.0,0.0,2009,0,98002,47.3363,-122.213,2030.0,3794.0,0.0,5461
4,7950300670,20150218T000000,450000,2.0,1.00,1120.0,4590.0,1,0,0.0,3,7.0,1120.0,0.0,1924,0,98118,47.5663,-122.285,1120.0,5100.0,0.0,5710

In [79]:
#checking the shape of the data : Number of columns and rows
data.shape

(21613, 23)

Analysis of Data starts here

In [80]:
#Categorize the features depending on their datatype (int, float, object) and then calculate the number of them. 


obj = (data.dtypes == 'object')
object_cols = list(obj[obj].index)
print("Categorical variables:",len(object_cols))
 
int_ = (data.dtypes == 'int')
num_cols = list(int_[int_].index)
print("Integer variables:",len(num_cols))
 
fl = (data.dtypes == 'float')
fl_cols = list(fl[fl].index)
print("Float variables:",len(fl_cols))

Categorical variables: 7
Integer variables: 4
Float variables: 12

In [81]:
data["yr_built"].value_counts()

2014    559
2006    454
2005    450
2004    433
2003    421
       ...
1901     29
1902     27
1935     24
1934     21
$        14
Name: yr_built, Length: 117, dtype: int64

In [82]:
data["zipcode"].value_counts()

98103    602
98038    590
98115    583
98052    574
98117    553
        ...
98102    105
98010    100
98024     81
98148     57
98039     50
Name: zipcode, Length: 70, dtype: int64

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cid               21613 non-null  int64
 1   dayhours          21613 non-null  object
 2   price             21613 non-null  int64
 3   room_bed          21505 non-null  float64
 4   room_bath         21505 non-null  float64
 5   living_measure    21596 non-null  float64
 6   lot_measure       21571 non-null  float64
 7   ceil              21571 non-null  object
 8   coast             21612 non-null  object
 9   sight             21556 non-null  float64
 10  condition         21556 non-null  object
 11  quality           21612 non-null  float64
 12  ceil_measure      21612 non-null  float64
 13  basement          21612 non-null  float64
 14  yr_built          21612 non-null  object
 15  yr_renovated      21613 non-null  int64
 16  zipcode           21613 non-null  int64
 17  lat               21613 non-null  float64
 18  long              21613 non-null  object
 19  living_measure15  21447 non-null  float64
 20  lot_measure15     21584 non-null  float64
 21  furnished         21584 non-null  float64
 22  total_area        21584 non-null  object
dtypes: float64(12), int64(4), object(7)
memory usage: 3.8+ MB

In [91]:
data_na = data.isna().sum() #provides all the columns having null values

data_na[data_na.values>0].sort_values(ascending=True) #filter out columns having atleast 1 null values

coast               1
quality             1
ceil_measure        1
basement            1
yr_built            1
living_measure     17
lot_measure15      29
furnished          29
total_area         29
lot_measure        42
ceil               42
sight              57
condition          57
room_bed          108
room_bath         108
dtype: int64

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           21613 non-null  float64
 1   room_bed        21505 non-null  float64
 2   room_bath       21505 non-null  float64
 3   living_measure  21596 non-null  float64
 4   lot_measure     21571 non-null  float64
 5   ceil            21571 non-null  object
 6   coast           21612 non-null  object
 7   sight           21556 non-null  float64
 8   condition       21556 non-null  object
 9   quality         21612 non-null  float64
 10  ceil_measure    21612 non-null  float64
 11  basement        21612 non-null  float64
 12  yr_built        21612 non-null  object
 13  yr_renovated    21613 non-null  int64
 14  zipcode         21613 non-null  int64
 15  lat             21613 non-null  float64
 16  long            21613 non-null  object
 17  lot_measure15   21584 non-null  float64
 18  furnished       21584 non-null  float64
 19  total_area      21584 non-null  object
dtypes: float64(12), int64(2), object(6)
memory usage: 3.3+ MB

Now if we observe the above dataset, the cid column has of no importance to our analysis,we’ll drop the customerid column.

In [ ]:
data.drop(['cid','dayhours'],axis='columns',inplace=True)

In [106]:
#datatype if price is object
data.describe()["price"]

count    2.161300e+04
mean     5.401822e+05
std      3.673622e+05
min      7.500000e+04
25%      3.219500e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64

"""count - The number of not-empty values.
mean - The average (mean) value.
std - The standard deviation.
min - the minimum value.
25% - The 25% percentile*.
50% - The 50% percentile*.
75% - The 75% percentile*.
max - the maximum value*"""

In [96]:
data.price.unique()

array([600000, 190000, 735000, ..., 725126, 332100, 685530])

In [97]:
#Data cleaning 
#data["price"]=data["price"].apply(lambda x: x.replace("$","")) #remove dollor sign 
#data["price"]=data["price"].apply(lambda x: x.replace(",","")) #replace thousand separator
data["price"]=data["price"].astype(float) #cast the column into float type
data.describe()["price"]

count    2.161300e+04
mean     5.401822e+05
std      3.673622e+05
min      7.500000e+04
25%      3.219500e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64